<h3>Courses</h3>
<% for(var i=0;i<allCourses.length;i++) { %>
    <h4>
        <%= allCourses[i].title %>
    </h4>
    <a href="/educators/courses/<%= allCourses[i].id %>/chapters" class="btn btn-primary">View Chapters</a>
    <p>
        <%= allCourses[i].description %>
    </p>
    <% } %>