<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>
</head>
<body>
    <a href="/signout" class="text-blue-600 hover:underline mb-2">Sign out</a>
    <%- include('courses.ejs') %>
</body>
</html>